$color-background: #fcf5d2;
$color-background-menu: #1a98a6;
$color-dark: #000;
$color-light: #f5f3e4;
$color-danger: #a3290e;
$color-success: #6fbc80;
$color-border: #cabd7a;
$color-primary: #998003;

$mobile-width: 576px;
