.navigation {
  display: flex;
  align-items: center;
}

.navigation__buttons {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.navigation__pages {
  color: $color-primary;
  @include font();
}
