.search {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  @include media-mobile {
    flex-direction: column;
  }
}

.search__input {
  max-width: 50rem;
  width: 100%;
  padding: 1rem;
  margin-right: 2rem;
  border-radius: 2rem;
  box-shadow: 2px 4px 4px $color-border;
  color: $color-primary;
  border: none;
  outline: none;
  &::first-letter {
    text-transform: lowercase;
  }
  @include font();
}

.search__button {
  display: flex;
  align-items: center;
  @include media-mobile {
    justify-content: center;
  }
}
