@import './styles/base/normalize';
@import './styles/base/variables';
@import './styles/base/titles';
@import './styles/base/navigation';
@import './components/Forms/form';
@import './components/HomePage/homePage';

#root {
  width: 100%;
  padding: 40px 100px;
  margin: 0 auto;
  background-color: $color-background;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
