@import '../../styles/abstracts/variables';

.button {
  display: flex;
  align-items: center;
  font-family: 'Century';
  font-weight: 700;
  color: $color-primary;
  height: 3rem;
  padding: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
  &:hover {
    transform: scale(1.2);
  }
}

.button_danger {
  color: $color-danger;
}
.button_success {
  color: $color-success;
}
