.form {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 20px;
  gap: 35px;
  border: 3px solid $color-border;
  background-color: $color-background-form;
  &__field {
    position: relative;
    display: flex;
    justify-content: space-between;
    label {
      width: 300px;
    }
    input {
      width: 100%;
      height: 30px;
      padding: 2px 10px;
      border-radius: 5px;
    }
  }
  &__gender {
    display: flex;
  }

  &__accept {
    display: flex;
  }

  &__error {
    position: absolute;
    color: #bc1a1a;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
  }
  &__password-difficult {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(50%);
    list-style-type: none;
    color: $color-info;
  }
}

.country {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: rgb(185, 185, 185);
  width: 300px;
  z-index: 1;
  top: 30px;
  left: 215px;
  &__item {
    cursor: pointer;
    &:hover {
      background-color: rgb(214, 209, 209);
    }
  }
}
