.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  &__field {
    position: relative;
  }

  &__error {
    position: absolute;
    color: #bc1a1a;
  }
  &__password-difficult {
    position: absolute;
    top: 0;
    left: 300px;
  }
}

.country {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: rgb(185, 185, 185);
  width: 300px;
  z-index: 1;
  &__item {
    cursor: pointer;
    &:hover {
      background-color: rgb(214, 209, 209);
    }
  }
}
